## We will have another simple example on two sample t test (pooled- when the variances are equal). But this time this is a one sided t-test


### In a packing plant, a machine packs cartons with jars. 
### It is supposed that a new machine will pack faster on the average than the machine currently used. 
### To test that hypothesis, the times it takes each machine to pack ten cartons are recorded.
### The results, in seconds, are shown in the tables in the file files_for_lab/machine.txt. 
### Assume that there is sufficient evidence to conduct the t test, does the data provide sufficient evidence to show if one machine is better than the other

In [1]:
import pandas as pd

In [10]:
df = pd.read_csv('machine_final.csv')

In [11]:
df

   New machine      Old machine
0         42.1             42.7
1         41.0             43.6
2         41.3             43.8
3         41.8             43.3
4         42.4             42.5
5         42.8             43.5
6         43.2             43.1
7         42.3             41.7
8         41.8             44.0
9         42.7             44.1

In [18]:
df.describe()

       New machine      Old machine
count    10.000000        10.000000
mean     42.140000        43.230000
std       0.683455         0.749889
min      41.000000        41.700000
25%      41.800000        42.800000
50%      42.200000        43.400000
75%      42.625000        43.750000
max      43.200000        44.100000

In [12]:
from scipy.stats import ttest_1samp

In [21]:
test = ttest_1samp(a=df,popmean=42.14)

In [22]:
test

Ttest_1sampResult(statistic=array([0.        , 4.59652455]), pvalue=array([1.        , 0.00129692]))

In [23]:
from scipy.stats import norm
critical_value=norm.ppf(0.05)
print(critical_value)

-1.6448536269514729

In [ ]:
# we can accept the hypothesis since the test statistic is higher than the critical value.