# Lab | Inferential statistics - ANOVA

## Part 1

**Null hypothesis**:
There is no difference in the mean etching rate for different levels of power.

**Alternate hypothesis**: There is a difference in the mean etching rate for different levels of power

**Significance Level** : The p-value is <0.0001 (Significance), therefore the result is statistically signifcant

**Degrees of freedom of the model** : 2 and 12

**Error terms** : 0.2625

**Total DoF** : 14

## Part 2

In [1]:
import pandas as pd

In [2]:
df = pd.read_excel('anova_lab_data.xlsx')

In [3]:
df.head()

  Power   Etching Rate
0  160 W          5.43
1  180 W          6.24
2  200 W          8.79
3  160 W          5.71
4  180 W          6.71

In [4]:
from scipy.stats import ttest_1samp

Etching rate mean is 6.78

In [5]:
df['Power '] = df['Power '].str.replace('W','')

In [7]:
df

   Power   Etching Rate
0    160           5.43
1    180           6.24
2    200           8.79
3    160           5.71
4    180           6.71
5    200           9.20
6    160           6.22
7    180           5.98
8    200           7.90
9    160           6.01
10   180           5.66
11   200           8.15
12   160           5.59
13   180           6.60
14   200           7.55

In [8]:
test = ttest_1samp(a=df['Etching Rate'],popmean=6.78)

In [9]:
test

Ttest_1sampResult(statistic=0.008405985258949316, pvalue=0.993411682777999)

In [12]:
from scipy.stats import norm
critical_value=norm.ppf(0.05)
print(critical_value)

-1.6448536269514729

## Conductiung ANOVA.

In [13]:
import statsmodels.api as sm
from statsmodels.formula.api import ols #orfinary least squares

In [24]:
df=df.rename(columns={'Power ': 'power', 'Etching Rate': 'etching_rate'})
df

   power  etching_rate
0   160           5.43
1   180           6.24
2   200           8.79
3   160           5.71
4   180           6.71
5   200           9.20
6   160           6.22
7   180           5.98
8   200           7.90
9   160           6.01
10  180           5.66
11  200           8.15
12  160           5.59
13  180           6.60
14  200           7.55

In [26]:
models =ols('etching_rate ~C(power)',data=df).fit()
models

In [27]:
results_table=sm.stats.anova_lm(models)

In [28]:
results_table

            df     sum_sq   mean_sq          F    PR(>F)
C(power)   2.0  18.176653  9.088327  36.878955  0.000008
Residual  12.0   2.957240  0.246437        NaN       NaN

## Conclusions from the experiment

In [ ]:
# if the test statistic is less than the critical value, then we can reject Ho

We conclude that for any different level of power, there is no signifcant effect on the mean etching rate. 
Since the test statistic is less than the critical value.