# Creating a MVP for a Song Recommendation Tool

### Step 1: Scrape the data to be used as reference for the model

In [1]:

import pandas as pd
import requests
from bs4 import BeautifulSoup
from tqdm.notebook import tqdm

In [2]:
url = "https://www.billboard.com/charts/hot-100/"

In [3]:
response = requests.get(url)
top100=BeautifulSoup(response.content,'html.parser')

In [4]:
top100.select('span.c-label.a-font-primary-s')[0].get_text(strip=True)

'Adele'

In [5]:
top100.select('h3.c-title.a-no-trucate')[0].get_text(strip=True)

'Easy On Me'

In [6]:
top_100 = len(top100.select('h3.c-title.a-no-trucate'))

In [7]:

song = []
artist = []

for i in tqdm(range(top_100)):
    song.append(top100.select('h3.c-title.a-no-trucate')[i].get_text(strip=True))
    artist.append(top100.select('span.c-label.a-font-primary-s')[i].get_text(strip=True))

  0%|          | 0/100 [00:00<?, ?it/s]

In [8]:
 top100_table = pd.DataFrame({'song':song, 'artist':artist})
top100_table

                               song                             artist
0                        Easy On Me                              Adele
1                              Stay      The Kid LAROI & Justin Bieber
2                     Industry Baby            Lil Nas X & Jack Harlow
3   All Too Well (Taylor's Version)                       Taylor Swift
4                         Oh My God                              Adele
..                              ...                                ...
95                         Too Easy                     Gunna & Future
96                      Escape Plan                       Travis Scott
97               Who's In Your Head                     Jonas Brothers
98                  Jugaste y Sufri  Eslabon Armado Featuring DannyLux
99                   Take My Breath                         The Weeknd

[100 rows x 2 columns]

### Step 2: Build the Recommender

In [9]:
#creating the user input 
song = input("Search here for a song! ").lower()

Search here for a song! baby

In [10]:
#Checking if the input is actually in the data frame

check = top100_table[top100_table['song'].str.lower().str.contains(song)]
check

            song                   artist
2  Industry Baby  Lil Nas X & Jack Harlow

In [11]:
#assign the relevant index number to list for later string-operations, model identifies song names through index

index = check.index.tolist()

In [12]:
top100_table.song[index].values[0]

'Industry Baby'

In [13]:
# check if a value has been returned in the input or not - (is the value in our dataframe or not)
if len(check) == 0:
    print("That ain't it chief, try again..")
else: # in case the song was spelt in correctly, confirm the song name
    answer = input("Did you mean "+ top100_table.song[index].values[0] + " by " + top100_table.artist[index].values[0] + "? ")
        
    if answer.lower() == 'yes':
        suggestion = top100_table.sample().index.tolist()
        print("Well you got good taste alright! Here's another banger you might like called " + top100_table['song'][suggestion].item() + " by " +  top100_table['artist'][suggestion].item())
    else: 
        print ("I got nothing else for you, you should be dissapointed.. " )

Did you mean Industry Baby by Lil Nas X & Jack Harlow? yes
Well you got good taste alright! Here's another banger you might like called Already Dead by Juice WRLD

### Breaking each step down

In [14]:
#step 1: create user input: 

song = input("Enter your song here  ").lower()




# converting input to lowercase to standardize it

Enter your song here  baby

In [15]:
#step 2: create a check field to find if the user input is in the dataframe, if not? 

mic_check = top100_table[top100_table['song'].str.lower().str.contains(song)]
mic_check


# need to add str since lower only works if the value is a string, 
#the outer[] is to return the exact value and not a list of true and false
#contains makes sure we are working on the user input

            song                   artist
2  Industry Baby  Lil Nas X & Jack Harlow

In [16]:
#Step 3: Assign the values an index so the recommender can return the names later based on that. 

index = mic_check.index.to_list()

#to_list converts values into a list so we can work with it later

In [17]:
#Step 4: Create value to return the required songs - that we will use in the actual recommender code

top100_table.song[index].values[0]

'Industry Baby'

In [21]:
mic_check

Empty DataFrame
Columns: [song, artist]
Index: []

In [28]:
#Step 5: Create scenarios for each input 

while True: 
        song = input("Enter your song here: ").lower()
        mic_check = top100_table[top100_table['song'].str.lower().str.contains(song)]
        index = mic_check.index.to_list()
        top100_table.song[index].values[0]

        if len(mic_check) == 0:
                 print("That ain't it chief, try again")
        else: 
            answer=input("I think we're onto something, did you mean " + top100_table.song[index].values[0] + " by " + top100_table.artist[index].values[0] + "? ")
  
            if answer.lower() == "yes":
                suggestion=top100_table.sample().index.to_list()
                print("Seems like you got good taste in music! Try this song out by " + top100_table['artist'][suggestion].item() + " it's called " + top100_table['song'][suggestion].item())
                break
            else: 
                input("Ok, let's try that again now ")

Enter your song here: drink
I think we're onto something, did you mean I Drink Wine by Adele? yes
Seems like you got good taste in music! Try this song out by Jon Pardi it's called Tequila Little Time